SERVICE_NAME=dispatch-service
ENVIRONMENT=development

GRPC_ADDRESS=:50056
METRICS_ADDRESS=:9096

TRIP_SERVICE_ADDRESS=localhost:50055
LOCATION_SERVICE_ADDRESS=localhost:50054
DRIVER_SERVICE_ADDRESS=localhost:50053
