SERVICE_NAME=analytics-service
ENVIRONMENT=development
GRPC_ADDRESS=:50060
METRICS_ADDRESS=:9100
DATABASE_URL=postgres://ride_platform:password@localhost:5441/analytics_db?sslmode=disable
STAFF_SERVICE_ADDRESS=localhost:50061
LOCATION_SERVICE_ADDRESS=localhost:50054
ANALYTICS_TIME_ZONE=Asia/Baghdad
